.app {
  text-align: center;
  display: block;
}

.app {
  text-align: center;
  display: block;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar__tile--active {
  background: #007bff !important;
  color: white !important;
}

.CircularProgressbar {
  width: 100px;
  margin: 0 auto;
}